body {}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', sans-serif;
}
p {
  font-family: 'Source Sans Pro', sans-serif;
  color: #4a4a4a;
}
label {
  font-family: 'Cabin', sans-serif;
  font-size: 14px;
  color: #9b9b9b;
  @media(min-width: 768px) {
    font-size: 15px;
  }
}
input {
  font-family: 'Cabin', sans-serif;
  border: 0 !important;
  border-bottom: solid 1px #979797 !important;
  border-radius: 0 !important;
  color: #cccccc !important;
  font-size: 17px !important;
  @media(min-width: 768px) {
    font-size: 18px !important;
  }
}
textarea {
  font-family: 'Cabin', sans-serif;
  border: 0 !important;
  border-bottom: solid 1px #979797 !important;
  border-radius: 0 !important;
  color: #cccccc !important;
  font-size: 17px;
  @media(min-width: 768px) {
    font-size: 18px;
  }
}
.dim {
  color: #9b9b9b;
}
.justify {
  text-align: justify;
}
button {
  border-radius: 100px !important;
  background-color: #02a6d9;
  color: #ffffff;
}
nav {
  .mobile-logo {
    position: absolute;
    left: 5%;
    width: 30%;
    height: 100%;
    vertical-align: middle;
  }
  .solutions-site-logo {
    position: absolute;
    width: 10%;
    height: 100%;
    top: 0;
    left: 45%;
    vertical-align: middle;
    @media(max-width: 768px) {
      width: 30%;
      left: 35%;
    }
  }
  .navbar-toggler {
    float: right;
    color: #4a4a4a;
  }
  @media(max-width: 768px) {
    background-color: red;
    width: 100%;
    padding: 0 !important;
  }
  #nav {
    .nav {
      padding: 5px 50px;
      @media(max-width: 768px) {
        width: 100%;
        padding: 0;
        margin: 0;
      }
      .contact-button {
        @media(min-width: 768px) {
          border-radius: 100px;
          background-color: #02a6d9;
          padding: 0 29px;
          a {
            color: #ffffff !important;
          }
        }
      }
      .nav-item {
        .nav-link {
          font-size: 14px;
          color: #4a4a4a;
        }
        .backicon {
          margin-right: 10px;
          @media(max-width: 768px) {
            margin-right: 5px;
          }
        }
        .backlink {
          font-size: 17px !important;
          line-height: 1.1;
          letter-spacing: 0.5px;
          color: #02a6d9;
          @media(max-width: 768px) {
            font-size: 15px !important;
            float: left;
          }
        }
        @media(max-width: 768px) {
          width: 100%;
          margin: 0;
          border: solid 1px #efefef;
        }
      }
      .backlink-item {
        border: 0;
      }
    }
  }
}
#intro {
  position: relative;
  height: 50vh;
  background-image: linear-gradient(to bottom, #02a6d9, #0272be);
  color: #ffffff;
  @media(min-width: 768px) {
    height: 80vh;
  }
  h1 {
    font-size: 24px !important;
    @media(min-width: 768px) {
      font-size: 36px !important;
    }
  }
  h2 {
    font-size: 16px !important;
    opacity: 0.6;
    margin-bottom: 32px;
    @media(min-width: 768px) {
      font-size: 24px !important;
    }
  }
  a {
    text-decoration: none;
  }
  #intro-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
  }
  .intro-icon {
    position: absolute;
    width: 7%;
    height: auto;
    opacity: 0.2;
  }
  .intro-server {
    top: 10vh;
    left: 30%;
  }
  .intro-security {
    top: 10vh;
    left: 75%;
  }
  .intro-telecom {
    left: 21%;
    bottom: 12vh;
  }
  .intro-services {
    left: 80%;
    bottom: 18vh;
  }
  .intro-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
#solutions-intro {
  position: relative;
  height: 200px;
  background-image: linear-gradient(to bottom, #02a6d9, #0272be);
  color: #ffffff;
  overflow: hidden;
  @media(min-width: 768px) {
    height: 200px;
  }
  h1 {
    font-size: 24px !important;
    @media(min-width: 768px) {
      font-size: 36px !important;
    }
  }
  h2 {
    font-size: 12px !important;
    opacity: 0.6;
    @media(min-width: 768px) {
      font-size: 17px !important;
    }
  }
  #intro-overlay {
    position: absolute;
    width: 100%;
    height: 200%;
    opacity: 0.1;
  }
  #solutions-intro-icon {
    position: absolute;
    left: 18%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    @media(max-width: 768px) {
      display: none;
    }
  }
  .intro-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
#about {
  padding: 30px 15px 100px;
  background-color: #f7f7f7;
  @media(min-width: 768px) {
    padding: 80px 225px 120px;
  }
  .col-xs-12 {
    padding-bottom: 0;
    @media(min-width: 768px) {
      padding-bottom: 60px;
    }
  }
  .col-sm-4 {
    padding: 0 40px;
    @media(min-width: 768px) {
      padding: 0 2%;
    }
    h2 {
      font-size: 16px;
      padding: 2vh 0;
    }
  }
  h1 {
    font-size: 22px !important;
    margin-bottom: 20px;
    @media(min-width: 768px) {
      font-size: 25px !important;
      margin-bottom: 50px;
    }
  }
  p {
    font-size: 14px !important;
    text-align: justify;
    @media(min-width: 768px) {
      font-size: 15px !important;
    }
  }
  img {
    @media(max-width: 768px) {
      padding-top: 50px;
    }
  }
}
#certifications {
  padding: 30px 5px 100px;
  h1 {
    font-size: 22px;
    @media(min-width: 768px) {
      font-size: 25px;
    }
  }
  p {
    font-size: 14px;
    margin-bottom: 36px;
    margin-top: 16px;
    @media(min-width: 768px) {
      font-size: 15px !important;
      margin-top: 0;
    }
  }
  @media(min-width: 768px) {
    padding: 80px 210px 120px;
  }
}
#solutions {
  padding: 30px 5px 100px;
  background-color: #f7f7f7;
  h1 {
    font-size: 22px;
    margin-bottom: 30px;
    @media(min-width: 768px) {
      font-size: 25px !important;
      margin-bottom: 50px;
    }
  }
  h2 {
    font-size: 19px;
    @media(min-width: 768px) {
      font-size: 20px;
    }
  }
  h3 {
    font-size: 14px;
    color: #cccccc;
    @media(min-width: 768px) {
      font-size: 15px;
    }
  }
  p {
    font-size: 14px;
    @media(min-width: 768px) {
      font-size: 15px;
    }
  }
  a {
    text-decoration: none;
  }
  img {
    margin-bottom: 30px;
  }
  button {
    margin-bottom: 50px;
  }
  .contact-btn {
    background-color: #0272be !important;
  }
  .row:nth-of-type(1) {
    @media(min-width: 768px) {
      border-bottom: solid 1px #efefef;
    }
  }
  .row:nth-of-type(2) {
    img {
      @media(min-width: 768px) {
        margin-top: 50px;
      }
    }
  }
  .col-sm-4:nth-of-type(2) {
    @media(min-width: 768px) {
      border-left: solid 1px #efefef;
      border-right: solid 1px #efefef;
    }
  }
  .solutions-last {
    visibility: hidden;
    display: none;
    @media(min-width: 768px) {
      display: block;
    }
  }
  @media(min-width: 768px) {
    padding: 80px 115px 120px;
  }
}
#solutions-page {
  background-color: #f7f7f7;
  h1 {
    font-size: 15px;
    font-weight: 700;
    @media(min-width: 768px) {
      font-size: 17px;
    }
  }
  h3 {
    font-size: 15px;
    @media(min-width: 768px) {
      font-size: 14px;
    }
  }
  p {
    font-size: 15px;
    text-align: justify;
    margin: 30px 0 50px;
    @media(min-width: 768px) {
      font-size: 14px;
    }
  }
  hr {
    width: 50px;
    height: 2px;
    background-color: #02a6d9;
    margin-left: 0;
    margin-bottom: 0;
  }
  .solutions-bar {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #efefef;
  }
  .col-xs-12 {
    padding: 50px 30px;
    @media(min-width: 768px) {
      padding: 0 225px 100px;
    }
  }
  .solutions-page-nav {
    padding: 30px !important;
    @media(min-width: 768px) {
      padding: 80px 225px !important;
    }
    .solutions-page-link {
      width: 160px;
      height: 55px;
      background-color: #efefef;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 700;
      color: #9b9b9b;
      font-size: 16px;
      margin-left: 38px;
      line-height: 1;
      @media(max-width: 768px) {
        float: left;
        float: left; //hmmm work please?
        width: 48%;
        margin: 0;
        font-size: 12px;
        &:nth-of-type(1) {
          margin-left: 0 !important;
          margin-right: 2%;
          margin-bottom: 15px;
        }
        &:nth-of-type(2) {
          margin-bottom: 15px;
        }
        &:nth-of-type(3) {
          margin-right: 2%;
        }
      }
    }
    .solutions-current {
      background-color: #02a6d9 !important;
      color: #ffffff !important;
    }
  }
}
#contact {
  padding: 30px 5px 100px;
  h1 {
    font-size: 22px !important;
    color: #4a4a4a !important;
    @media(min-width: 768px) {
      font-size: 25px !important;
    }
  }
  img {
    padding-right: 15px;
  }
  a {
    text-decoration: underline;
  }
  .col-xs-1,
  .col-xs-11 {
    padding: 0;
  }
  .col-xs-12 {
    margin-bottom: 50px;
  }
  .first {
    padding-bottom: 29px;
  }
  .contact-form {
    padding-right: 25px;
  }
  .contact-info {
    padding-left: 25px;
    margin-top: 50px;
    @media(min-width: 768px) {
      margin-top: 0;
    }
    p,
    a {
      @media(max-width: 768px) {
        margin-left: 15px;
      }
    }
  }
  @media(min-width: 768px) {
    padding: 80px 205px 120px;
  }
}
#location {
  #map {
    position: absolute;
    left: 0;
    width: 100%;
    height: 498px;
  }
}
